@model ProyectoFinal2020v2.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<h1 class="container p-3 my-3 text-white text-center rounded-l" style="background:#3d2149"><i class="fas fa-marker"></i>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Clientes" method="post" id="formulario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCliente" />
            <div class="form-group">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido1" class="control-label"></label>
                <input asp-for="Apellido1" class="form-control" />
                <span asp-validation-for="Apellido1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido2" class="control-label"></label>
                <input asp-for="Apellido2" class="form-control" />
                <span asp-validation-for="Apellido2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNac" class="control-label"></label>
                <input asp-for="FechaNac" class="form-control" />
                <span asp-validation-for="FechaNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCasillero" class="control-label"></label>
                <select asp-for="IdCasillero" class="form-control" asp-items="ViewBag.IdCasillero"></select>
                <span asp-validation-for="IdCasillero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTarifa" class="control-label"></label>
                <select asp-for="IdTarifa" class="form-control" asp-items="ViewBag.IdTarifa"></select>
                <span asp-validation-for="IdTarifa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" id="editAjax" />
                <a asp-action="Index" class="btn btn-secondary ">Atrás</a>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function () {
        $("#editAjax").click(function (event) {
            var form = $("#formulario");
            $.ajax({
                url: "/Clientes/EditConAjax",
                data: form.serialize(),
                method: "POST",
                success: function (resultado) {
                    if (resultado.result == true) { //Si en ActividadesController la variable result = true, osea que editó y es validó el modelo, mande la sweetAlert
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Se editó la actividad correctamente.',
                            showConfirmButton: false,
                            timer: 2000
                        })

                    } else {//Si result = false, osea no editó porque el modelo no es valido, mande sweetAlert
                        Swal.fire({
                            icon: 'error',
                            title: 'No se pudo editar la actividad',
                            text: '¡Verifique que los datos de los campos sean correctos!',
                        })

                    }
                }
            });
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
