@model ProyectoFinal2020v2.Models.Casillero

@{
    ViewData["Title"] = "Details";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h1 class="container p-3 my-3 text-white text-center rounded-l" style="background:#445e02"><i class="fas fa-th"></i>Detalles</h1>
>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCasillero" class="btn btn-primary"><i class="fas fa-marker"></i>Editar</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>Atrás</a>
</div>
