@{
    ViewData["Title"] = "Iniciar Sesión";
}
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model ProyectoFinal2020v2.Models.LoginViewModel

<link rel="stylesheet" href="~/css/Login.css"/>
<h4 class="container p-3 my-3 bg-dark text-white text-center rounded-l"><i class="fas fa-dumbbell fa-lg"></i> Bienvenido a Gimnasio con Guarderia</h4>
<body>

    <div class="container" ng-controller="LoginController">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fas fa-user fa-2x"></i> Inicio de sesión</div>
            <div class="panel-body">

                @if (ViewBag.errormessage != null)
                {
                    <p class="alert alert-danger" id="successMessage">@ViewBag.errormessage</p>}

                <form asp-controller="Login" asp-action="Login" method="post">
                    @Html.AntiForgeryToken()
                    <div class="col-xs-offset-4 col-xs-4">

                        <div class="form-group">
                            <label class="control-label text-white" asp-for="NombreUsuario">Nombre de Usuario</label>
                            <input autocomplete="off" asp-for="NombreUsuario" type="text" class="form-control" />
                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label text-white" asp-for="Contraseña">Constraseña</label>
                            <input autocomplete="off" asp-for="Contraseña" type="password" class="form-control" />
                            <span asp-validation-for="Contraseña" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input id="Submit1" class="btn btn-success" type="submit" value="Iniciar Sesión">
                        </div>
                        @*<div style="text-align: center;" class="text-white">
                            No tienes cuenta?  @Html.ActionLink("¡Registrate ahora!", "Usuarios", "Usuarios")
                        </div>*@
                    </div>
                </form>

            </div>
        </div>

    </div>
</body>


