@model ProyectoFinal2020v2.Models.UsuariosViewModel
@{ Layout = "~/Views/Shared/_UsuarioLayout.cshtml"; }
<div class="container">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Perfil</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <label class="control-label" asp-for="NombreUsuario">Nombre Usuario</label>
                    <input asp-for="NombreUsuario" readonly="readonly" type="text" class="form-control" />
                </div>
                <div class="col-lg-4">
                    <label class="control-label" asp-for="Contraseña">Contraseña</label>
                    <input asp-for="Contraseña"  readonly="readonly" name="text" type="text" class="form-control" />
                </div>
                @*<div class="col-lg-4">
                    <label class="control-label" asp-for="FechaCreacion">Fecha de Creación</label>
                    <input asp-for="FechaCreacion"  readonly="readonly" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="control-label" asp-for="Activo">Activo</label>
                    <input asp-for="Activo" readonly="readonly" type="text" class="form-control" />
                </div>

            </div>*@
            <div class="row">

            </div>
        </div>
    </div>
</div>