@model ProyectoFinal2020v2.Models.MatriculaClaseGym

@{
    ViewData["Title"] = "Create";
}
<header class="container p-2 my-2 bg-success text-white text-center rounded-l ">
    <h3><i class="fas fa-plus-square"></i> Matricular clases Gym</h3>
</header>

<div class="container">

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="MatriculasClaseGym" asp-action="Create" method="post" id="formularioMatricula">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdClaseGym" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="IdClaseGym" class="form-control " readonly value="@TempData["IdClaseGym"]" />
                        <div class="input-group-btn">
                            <a type="button" class="btn btn-secondary" asp-action="IndexClase1" asp-controller="MatriculasClaseGym">Selecionar</a>
                        </div>
                    </div>
                    <span asp-validation-for="IdClaseGym" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCliente" class="control-label"></label>
                    <select asp-for="IdCliente" class="form-control" asp-items="@ViewBag.IdCliente"></select>
                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                </div>

                @*<div class="form-group" hidden>
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-success" onclick="createVali()" />
                    <a class="btn btn-secondary" asp-action="Index">Atrás</a>
                </div>

            </form>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script>
            function createVali() {
                let formulario = $("#formularioMatricula").serialize();
                $.ajax({
                    url: "/MatriculasclaseGym/createVali",
                    type:'post',
                    data: formulario,
                    dataType: 'json'
                }).done(function (respuesta) {
                    if (respuesta.result == true) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Se matriculó correctamente.',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        @*setTimeout(function () {
                        window.location.href = '@Url.Action("Index", "MatriculaClaseGym")'
                    }, 2000);*@
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'No se pudo matricular',
                            text: '¡Verifique que los datos del cliente y clase sean correctos!',
                            showConfirmButton: true
                        })
                    }
                })
            }

        </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
