@model ProyectoFinal2020v2.Models.ClaseGym

@{
    ViewData["Title"] = "Create";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<header class="container p-3 my-3 bg-success text-white text-center rounded-l">
    <h4><i class="fas fa-plus-square"></i> Agregar Clase</h4>
</header>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="ClasesGym" method="post" id="formulario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdActividad" class="control-label"></label>
                <select asp-for="IdActividad" class="form-control" asp-items="ViewBag.IdActividad"></select>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" type="time" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFinal" class="control-label"></label>
                <input asp-for="HoraFinal" type="time" class="form-control" />
                <span asp-validation-for="HoraFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupo" class="control-label"></label>
                <input asp-for="Cupo" class="form-control" />
                <span asp-validation-for="Cupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSala" class="control-label"></label>
                <select asp-for="IdSala" class="form-control" asp-items="ViewBag.IdSala"></select>
            </div>

            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label><br />
                <input asp-for="Estado" type="radio" name="Estado" value="Activo">
                <label asp-for="Estado">Activo</label><br>
                <input asp-for="Estado" type="radio" name="Estado" value="Inactivo">
                <label asp-for="Estado">Inactivo</label><br>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" id="saveValidacion" />
                <a class="btn btn-secondary" asp-action="Index">Atrás</a>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function () {
        $("#saveValidacion").click(function (event) {
            var form = $("#formulario"); $.ajax({
                url: "/ClasesGym/CreateConAjax",
                data: form.serialize(),
                method: "POST",
                success: function (resultado) {
                    if (resultado.result == true) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Se creó la clase correctamente.',
                            showConfirmButton: false,
                            timer: 3000
                        })

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'No se pudo crear la clase',
                            text: '¡Verifique que los datos de los campos sean correctos!',
                        })

                    }
                }
            });
        });
    });</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
