@model ProyectoFinal2020v2.Models.ClaseGym

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClaseGym</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdActividad" class="control-label"></label>
                <select asp-for="IdActividad" class="form-control" asp-items="ViewBag.IdActividad"></select>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupo" class="control-label"></label>
                <input asp-for="Cupo" class="form-control" />
                <span asp-validation-for="Cupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSala" class="control-label"></label>
                <select asp-for="IdSala" class="form-control" asp-items="ViewBag.IdSala"></select>
            </div>

            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
