@model ProyectoFinal2020v2.Models.ClaseGym

@{
    ViewData["Title"] = "Edit";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<header class="container p-3 my-3 bg-primary text-white text-center rounded-l">
    <h4> <i class="fas fa-pen"></i> Editar Clase</h4>
</header>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="ClasesGym" method="post" id="formulario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdClaseGym" />
            <div class="form-group">
                <label asp-for="IdSala" class="control-label"></label>
                <select asp-for="IdSala" class="form-control" asp-items="ViewBag.IdSala"></select>
                <span asp-validation-for="IdSala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupo" class="control-label"></label>
                <input asp-for="Cupo" class="form-control" />
                <span asp-validation-for="Cupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdActividad" class="control-label"></label>
                <select asp-for="IdActividad" class="form-control" asp-items="ViewBag.IdActividad"></select>
                <span asp-validation-for="IdActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" id="editAjax" /> |
                <a asp-action="Index" class="btn btn-secondary">Atrás</a>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function () {
        $("#editAjax").click(function (event) {
            var form = $("#formulario");
            $.ajax({
                url: "/ClasesGym/EditConAjax",
                data: form.serialize(),
                method: "POST",
                success: function (resultado) {
                    if (resultado.result == true) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Se editó la clase correctamente.',
                            showConfirmButton: false,
                            timer: 3000
                        })

                    } else {//Si result = false, osea no editó porque el modelo no es valido, mande sweetAlert
                        Swal.fire({
                            icon: 'error',
                            title: 'No se pudo editar clase',
                            text: '¡Verifique que los datos de los campos sean correctos!',
                        })

                    }
                }
            });
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
