@model ProyectoFinal2020v2.Models.MatriculaGuarderia

@{
    ViewData["Title"] = "Edit";
}

<header class="container p-2 my-2 bg-primary text-white text-center rounded-l">
    <h4> <i class="fas fa-pen"></i> Editar Matricula</h4>
</header>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="MatriculasGuarderia" method="post"id="formularioMatricula">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMatricula" />
            <div class="form-group">
                <label asp-for="IdClaseGuarderia" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="IdClaseGuarderia" class="form-control" readonly value="@ViewData["IdClaseGuarderia"]" />
                    <div class="input-group-btn">
                        <a type="button" class="btn btn-secondary" asp-action="IndexClase2" asp-controller="MatriculasGuarderia">Selecionar</a>
                    </div>
                </div>
                <span asp-validation-for="IdClaseGuarderia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHijo" class="control-label"></label>
                <select asp-for="IdHijo" class="form-control" asp-items="ViewBag.IdHijo"></select>
                <span asp-validation-for="IdHijo" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" onclick="editVali()" />
                <a asp-action="Index" class="btn btn-secondary">Atrás</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

    <script>
        function editVali() {
            let formulario = $("#formularioMatricula").serialize();
            $.ajax({
                url: "/MatriculasGuarderia/EditVali",
                type: 'post',
                data: formulario,
                dataType: 'json'
            }).done(function (respuesta) {
                if (respuesta.result == true) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Se editó matricula correctamente.',
                        showConfirmButton: false,
                        timer: 3000
                    })
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'No se pudo editar matricular',
                        text: '¡Verifique que los datos del cliente y clase sean correctos!',
                    })
                }
            })
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

